/* SEÇÃO BRUNO GARCIA */
.section-brunoGarcia {
    padding: 60px 20px;
    background-color: rgb(231, 167, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brunoGarcia-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    gap: 50px;
    align-items: flex-start;
}

.brunoGarcia-img {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.brunoGarcia-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.523);
}


.brunoGarcia-text {
    flex: 2 1 500px;
}

.brunoGarcia-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.brunoGarcia-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #000000;
}

.brunoGarcia-text iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.523);
}

@media (max-width: 768px) {
    .brunoGarcia-content {
        flex-direction: column;
        gap: 20px;
    }

    .brunoGarcia-text h2 {
        font-size: 1.5rem;
    }

    .brunoGarcia-text iframe {
        height: 200px;
    }
}