header {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 8%; /* Espaçamento interno do header */
    box-sizing: border-box; /* Inclui padding na largura total */
    background-color: #ffffff;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: relative;

}

#mzr_logo {
    width: 190px;
    height: auto;
    margin-right: auto;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    position: absolute;
   
}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-weight: 600;
}

.nav-item.active {
    color: rgb(233, 175, 47);
    border-bottom: 3px solid rgb(202, 151, 42);
}

#mobile_btn {
    display: none; /* Some o botão hamburguer do menu mobile*/
}

#mobile_menu_hamburguer {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;  /* Fica na tela inteira */
    top: 0;
    left: 100%;       
    width: 100%;
    height: 100%;
    background-color: rgb(233, 175, 47); 
    gap: 40px;
    z-index: 1050;
    transition: left 0.4s ease; /* animação  */
}

@media screen and (max-width: 1200px){ /* Estilos para telas menores que 1100px */
    #nav_list, 
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        background-color: transparent;
        font-size: 1.8rem;
        border: none;
        cursor: pointer;
    }
    #mobile_menu_hamburguer.active {
        left: 0;
    }
    
   /* Links centralizados */
    #mobile_nav_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

#mobile_nav_list .nav-item a { 
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

/* Botão de fechar o menu em telas pequenas  */
#mobile_menu_hamburguer .close-btn {
    position: absolute; /* Posiciona o botão no canto superior direito */
    top: 25px;
    right: 25px;
    font-size: 3rem; /*Tamanho do botão X*/ 
    background: transparent;
    border: none;
    cursor: pointer;
}

#mobile_menu_hamburguer .close-btn {
    color: black; 
}