header {
  width: 100%;
  padding: 28px 8%;
  position: relative;
  background-color: #fff;
  z-index: 10; /* Garante que o header fique acima de outros elementos */
}

.banner_img {
  width: 100%; /* largura total */
  background-image: url('img/banner/Banner_Inovacao_Pessoa.png'); /* caminho da imagem */
  height: 200px;                 /* altura fixa */
  background-size: contain;       /* mantém proporção */
  background-repeat: no-repeat; /* não repete */
  background-position: center;    /* centraliza */
}
.banner_img img {
  width: 100%;
  height: auto;
  display: block; /* remove espaço embaixo da imagem */
  margin:  auto; /* centraliza a imagem */
}
